.cursor {
  display: none;
  pointer-events: none;
  position: absolute;
  z-index: 5;
  mix-blend-mode: color-dodge;
  border-radius: 100%;
  background: var(--green);
  opacity: 0.75;
  width: 28px;
  height: 28px;
  transition: transform .3s;

  &.is-hovering {
    opacity: 1;
    background: var(--green);
    transform: scale(2);
  }

  &.is-visible {
    display: block;
  }
}