.projects {
  display: flex;
}

.screen.projects__project {
  position: relative;
  flex-basis: 100vw;
  height: 100vh;
}

.main-content {
  position: relative;
  display: flex;
  margin-left: 144px; // cause project names (h3) width is 144px
  height: 100%;
}
.project-technos {
  margin-top: 5%;
  margin-left: 5%;

  & p {
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: left;
    width: 90%;
  }
}

.project-description {
  margin-top: 5%;
  margin-left: 5%;

  & .tags {
    margin-top: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    & li {
      font-family: 'PTSans';
      font-weight: bold;
      margin: 10px;
      margin-top: 0;
      margin-left: 0;
      text-align: center;
      min-width: 10%;
      background-color: var(--black);
      padding: 5px;
      border-radius: 3px;
      color: var(--white);
    }
  }
  
  & .discover {
    z-index: 4;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 200px;
    background-color: var(--green);

    & a {
      transition: color 0.2s;
      z-index: 5;
      display: block;
      padding: 15px;
      color: var(--white);
      font-family: "PTSans";
      font-weight: bold;
    }

    &::before {
      z-index: -1;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 100%;
      left: 0;
      transition: width 0.5s, transform 1s;
      background-color: var(--black);
    }

    &:hover a{
      color: var(--white);
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.project-img {
  width: 40vw;
  position: relative;
  cursor: pointer;
  & img {
    filter: brightness(80%);
    transition: filter 0.5s;
    width: 100%;
  }
  
  & h4 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 16px)) scale(0.4);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }

  &:hover img{
    filter: brightness(40%);
  }
  &:hover h4 {
    transform: translate(-50%, calc(-50% - 16px)) scale(1);
    opacity: 1;
  }

  & figcaption {
    text-align: center;
    margin: 16px;
    color: var(--grey);
    font-size: 14px;
    font-weight: bold;
  }
}