.projects {
  display: flex;
}

.screen.projects__project {
  position: relative;
  flex-basis: 100vw;
  height: 100vh;
}

.project-description {
  margin-left: 144px;
  width: calc(100% - 144px);
  height: 100%;
  .img {
    transition: transform 0.3s, filter 0.3s;
    height: 50%;
    margin: 0 auto;
  }
  img {
    margin: 0 auto;
    margin-top: 6vh;
    box-shadow: 0px 0px 150px var(--green);
    display: block;
    height: 100%;
  }
  .img:hover {
    filter: brightness(70%);
    transform: scale(0.85);
  }
  .tags {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7vh;

    li {
      border-radius: 5px;
      text-align: center;
      min-width: 64px;
      margin: 16px;
      padding: 6px;
      background-color: var(--black);
      color: var(--white);
    }
  }
  .discover {
    background-color: var(--black);
    color: var(--white);
    transition: transform 0.8s, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0.1px var(--green) inset;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 6vh;
    width: 150px;
    line-height: 48px;
    height: 48px;
    font-size: 18px;
    font-family: 'PTSans';
    font-weight: bold;

    &:hover {
      transform: scale(0.95);
      box-shadow: 150px 0px 0px var(--green) inset;
      color: var(--black);
    }
  }
}