* {
  box-sizing: border-box;

  &::selection {
    background-color: var(--green);
  }
}

:root {
  scroll-behavior: smooth;
}

html, a, button {
  cursor: none;
}

body {
  transition: background-color 0.3s;
  font-family: 'SourceSansPro';
  color: var(--black);
  background-color: var(--white);
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  line-height: 125%;
  font-size: 17px;
  margin: 0 auto;
  padding: 16px;
  font-weight: lighter;
  font-family: "SourceSansPro";
}

h1,
h2,
h3,
h4 {
  padding: 8px;
  font-family: "PTSans";
  font-weight: bold;
}
h1 {
  font-size: 56px;
}

h2 {
  padding-top: 0px;
  margin-bottom: 32px;
  color: var(--grey);
  font-size: 28px;
}
h3 {
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--black);
  color: var(--white);
  height: 100%;
  text-align: center;
  transition: transform 0.3s, left 1s ease-in-out, background-color 0.2s;
  font-family: "SourceSansPro";
  font-weight: 900;
  padding: 32px;
  position: absolute;
  bottom: 0px;
  left: 0;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: 80px;

  &:hover {
    background-color: var(--green);
    color: $black;
  }
}

a {
  cursor: none;
  color: initial;
}

a.link {
  font-weight: 900;
  color: var(--black);
  transition: box-shadow 0.3s, color 0.3s;
  box-shadow: var(--green) 0px -3px 0px inset;
  padding: 0 1px;
  &:hover {
    color: $white; // I don't want it to change on darkmode switch
    box-shadow: var(--green) 0px -21px 0px inset;
  }
}
