@keyframes runThrough {
	60% {
		transform: translate(20px, 0) scale(1);
		color: $black;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: $black;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: $green;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: $black;
	}
}
