@font-face {
  src: url(../assets/fonts/PT_Sans/PT_Sans-Web-Bold.ttf) format('truetype');
  font-family: 'PTSansBold';
}
@font-face {
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-Light.ttf) format('truetype');
  font-family: 'SourceSansPro';
}